
# /
/**/tmp0000.html

/*.exe

/*.so
/*wmcache*
/.cache
/.tmp
/.tmp_svn_work
/.wmcache
/.wmcache-copia
/.codepro
/Neptus*
/neptus
/Neptus-installer.sh
/ProfilerDLL.dll
/build
/jjstick.dll
/libjinput-osx.jnilib
/libmwjni.so
/log*
/mingwm10.dll
/mwjni.dll
/neptus.tgz
/obfuscation-log.xml*
/ortemanager
/ortemanager.exe
/plugins-dev-tmp
/pthreadGCE2.dll
/pthreadVC2.dll
/resources

/svn.info.txt
/tmpjars
/tmpdist

# /NSIS_release/install_scripts/
/NSIS_release/install_scripts/*.exe
/NSIS_release/install_scripts/neptus_include.nsi

# /bin/
/bin/justrender.jar

# /conf/
/conf/*.properties
/conf/*.props
/conf/ro*.xml
/conf/*recent.xml
/conf/general-properties.xml
/conf/mystate.xml
/conf/oplimits
/conf/ais.cache
/conf/bathymetry.obj
/conf/AirOS.conf
/conf/wifimac.obj
/conf/profiles.json
/conf/consoles
/conf/ipUrl.ini

# /conf/i18n/
/conf/i18n/en

# /conf/controllers/
/conf/controllers/actions.xml

# /dev-scripts/i18n/

# /dist/
/dist/*.jnlp
/dist/jre-linux/*
/dist/jre-windows/*

# /maps/
/maps/*.000

# /plugins-dev/3D/assets/Textures/Terrain/splat/mapas/
/plugins-dev/3D/assets/Textures/Terrain/splat/mapas/leixoesheightMap.jpg
/plugins-dev/3D/assets/Textures/Terrain/splat/mapas/gradientHeightMap.jpg
/plugins-dev/3D/assets/Textures/Terrain/splat/mapas/testHeights_4.bmp

# /plugins-dev/odss/lib/

# /plugins-dev/odss/licences/

# /plugins-dev/odss/org/

# /plugins-dev/odss/org/mbari/

# /plugins-dev/odss/org/mbari/trex/

# /plugins-dev/odss/pb/

# /plugins-dev/uavs/icons/
/plugins-dev/uavs/icons/departure.png
/plugins-dev/uavs/icons/emergency.png
/plugins-dev/uavs/icons/engineOn.png
/plugins-dev/uavs/icons/flying.png
/plugins-dev/uavs/icons/landing.png
/plugins-dev/uavs/icons/preLaunch.png
/plugins-dev/uavs/icons/rollOut.png
/plugins-dev/uavs/icons/taxiWay.png
/plugins-dev/uavs/icons/uavBAD.png
/plugins-dev/uavs/icons/uavOK.png
/plugins-dev/uavs/icons/uavUNKNOWN.png

# /src/images/buttons/
/src/images/buttons/*.db

# /src/images/cursors/
/src/images/cursors/Thumbs.db

# /src/images/menus/
/src/images/menus/Thumbs.db

# /src/images/systems/

# /src/images/world/

# /srcShell/installers/

# /srcTests/mbari/

# /srcTests/pt/up/fe/dceg/neptus/util/logdownload/

# /vehicles-files/adamastor/conf/images/
/vehicles-files/adamastor/conf/images/Thumbs.db

# /vehicles-files/cularis/

/missions


/.gitignore*
/#.gitignore*
/build/
/conf/general-properties.xml
/conf/mystate.xml
/*.so
log/


/svn.info.txt
/scm.info.txt
*.pdf
bin
/bin-bundles
/plugins
/plugins-dev?*
/dist/jre*
/conf/plugins/
/tmpBuild/
Thumbs.db
.DS_Store
*.bak
*.edited
\#*#
*~
*.swp
/neptus.bat
/neptus.sh
/*.log
/release.json
/git.branch
TCL*.tmp
*.mo
*.patch
*.diff
/to_upload_*
*.hprof
/cp.jar
/*.vmoptions

NSIS_release/static_files/batch_files/
dev-scripts/grow_pot.sh

/IHData/

/.s57
/s57maps

/*_dist
/positions


conf/nddl/Europa.log

plan.sh

# Gradle move
.gradle
build

# Eclipse related
.classpath
.project
.settings

# VSCode related
.vscode

# IDEA related
.idea
.run
out/
