[project]
	description = Neptus, Command and Control Infrastructure
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jose Pinto (zepinto)
[access "refs/for/refs/*"]
	read = group user/Jose Pinto (zepinto)
	push = group user/Jose Pinto (zepinto)
	label-Code-Review = -2..+2 group user/Jose Pinto (zepinto)
	label-Verified = -1..+1 group user/Jose Pinto (zepinto)
	rebase = group user/Jose Pinto (zepinto)
	removeReviewer = group user/Jose Pinto (zepinto)
	submit = group user/Jose Pinto (zepinto)
[access "refs/heads/*"]
	read = group user/Jose Pinto (zepinto)
	create = group user/Jose Pinto (zepinto)
	push = +force group user/Jose Pinto (zepinto)
	pushMerge = group user/Jose Pinto (zepinto)
[access "refs/tags/*"]
	push = +force group user/Jose Pinto (zepinto)
	pushTag = group user/Jose Pinto (zepinto)
	pushSignedTag = group user/Jose Pinto (zepinto)
