title "Control vs Desired"

axis "Heading, Roll (°)"
axis 1, "Depth, Altitude, Z (meters)"

addQuery "EstimatedState.psi"
heading = apply("Heading", "EstimatedState.psi", toDegrees, normalizeAngleDegrees180)
plot heading

addQuery "DesiredHeading.value"
desired_h = apply("DesiredHeading", "DesiredHeading.value", toDegrees)
plot desired_h

depth = "EstimatedState.depth" 
plot 1, ["Depth": depth]

altitude = "EstimatedState.alt" 
plot 1, ["Altitude": altitude]

desired_z = "DesiredZ.value" 
plot 1, ["DesiredZ":  desired_z]

addQuery "EstimatedState.phi"
roll = apply("Roll", "EstimatedState.phi", toDegrees, normalizeAngleDegrees180)
plot roll

addQuery "DesiredRoll.value"
desired_roll = apply("DesiredRoll", "DesiredRoll.value", toDegrees)
plot desired_roll

