title "Control vs Desired"

heading = "EstimatedState.psi" 
addTimeSeries "Heading": heading

desired_h = "DesiredHeading.value" 
addTimeSeries "DesiredHeading": desired_h

depth = "EstimatedState.depth" 
addTimeSeries "Depth": depth

altitude = "EstimatedState.alt" 
addTimeSeries "Altitude": altitude

desired_z = "DesiredZ.value" 
addTimeSeries "DesiredZ":  desired_z

roll = "EstimatedState.phi" 
addTimeSeries "Roll":  roll

desired_roll = "DesiredRoll.value" 
addTimeSeries "DesiredRoll": desired_roll

