<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false">
	<!-- TRACE, DEBUG, INFO, WARN, ERROR and FATAL -->
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<param name="Threshold" value="INFO"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{YYYY-MM-dd HH:mm:ss.sssZ}] - %-5p - %m (%F:%L) {%t} {%c}%n"/>
		</layout>
	</appender>
	<appender name="stdout.debug" class="org.apache.log4j.ConsoleAppender">
		<param name="Threshold" value="DEBUG"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{YYYY-MM-dd HH:mm:ss.sssZ}] - %-5p - %m (%F:%L) {%t} {%c}%n"/>
		</layout>
	</appender>
	<appender name="debugLog" class="org.apache.log4j.RollingFileAppender">
		<param name="Threshold" value="DEBUG"/>
		<param name="File" value="log/debug.log"/>
		<param name="MaxFileSize" value="5MB"/>
		<param name="MaxBackupIndex" value="20"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{YYYY-MM-dd HH:mm:ss.sssZ}] - %-5p - %m (%F:%L) {%t} {%c}%n"/>
		</layout>
	</appender>
	<appender name="debugLogXML" class="org.apache.log4j.RollingFileAppender">
		<param name="Threshold" value="DEBUG"/>
		<param name="File" value="log/debug.log.xml"/>
		<param name="MaxFileSize" value="5MB"/>
		<param name="MaxBackupIndex" value="10"/>
		<layout class="org.apache.log4j.xml.XMLLayout"/>
	</appender>
	<appender name="spotLog" class="org.apache.log4j.RollingFileAppender">
		<param name="Threshold" value="DEBUG"/>
		<param name="File" value="log/spot.log"/>
		<param name="MaxFileSize" value="5MB"/>
		<param name="MaxBackupIndex" value="20"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{YYYY-MM-dd HH:mm:ss.sssZ}] - %-5p - %m (%F:%L) {%t} {%c}%n"/>
		</layout>
	</appender>
	<appender name="debugLogChainsaw" class="org.apache.log4j.net.SocketAppender">
		<param name="Threshold" value="DEBUG"/>
		<param name="RemoteHost" value="localhost"/>
		<param name="Port" value="4445"/>
		<param name="LocationInfo" value="true"/>
		<layout class="org.apache.log4j.xml.XMLLayout"/>
	</appender>
	<logger name="Neptus" additivity="false">
		<level value="debug"/>
		<appender-ref ref="stdout"/>
		<appender-ref ref="debugLog"/>
		<!--appender-ref ref="debugLogXML"/-->
		<!--appender-ref ref="debugLogChainsaw"/-->
	</logger>
	<logger name="Neptus.Action" additivity="false">
		<level value="info"/>
		<appender-ref ref="stdout"/>
		<appender-ref ref="debugLog"/>
		<!--appender-ref ref="debugLogXML"/-->
		<!--appender-ref ref="debugLogChainsaw"/-->
	</logger>
	<logger name="Neptus.Waste" additivity="false">
		<level value="error"/>
		<!--appender-ref ref="stdout"/-->
		<appender-ref ref="debugLog"/>
		<!--appender-ref ref="debugLogXML"/-->
		<!--appender-ref ref="debugLogChainsaw"/-->
	</logger>
	<!-- Example for extended debug. This is only an option if "Extended Program Output Log" property is set. -->
	<!--logger name="Neptus.Pub.pt.lsts.neptus.util.conf.ConfigFetch.resolvePath" additivity="true">
		<level value="debug"/>
		<appender-ref ref="stdout.debug"/>
	</logger-->
	<!--logger name="SPOT" additivity="false">
		<level value="debug"/>
		<appender-ref ref="spotLog"/>
	</logger-->
	<root>
		<level value="debug"/>
		<appender-ref ref="stdout"/>
		<appender-ref ref="debugLog"/>
	</root>
</log4j:configuration>
