<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <!-- trace, debug, info, warn, error and fatal -->
    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{[%d{YYYY-MM-dd HH:mm:ss.sssZ}] - %-5p - }%m %highlight{(%F:%L) {%t} {%c}%n}"/>
        </Console>
        <Console name="stdout.debug" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{[%d{YYYY-MM-dd HH:mm:ss.sssZ}] - %-5p - }%m %highlight{(%F:%L) {%t} {%c}%n}"/>
        </Console>
        <RollingFile name="debugLog" fileName="log/debug.log" append="true" filePattern="log/debug.log.%i.gz" createOnDemand="true">
            <PatternLayout pattern="[%d{YYYY-MM-dd HH:mm:ss.sssZ}] - %-5p - %m (%F:%L) {%t} {%c}%n"/>
            <SizeBasedTriggeringPolicy size="5MB" />
            <DefaultRolloverStrategy fileIndex="min" min="1" max="20" />
        </RollingFile>
        <RollingFile name="spotLog" fileName="log/spot.log" append="true" filePattern="log/spot.log.%i.gz" createOnDemand="true">
            <PatternLayout pattern="[%d{YYYY-MM-dd HH:mm:ss.sssZ}] - %-5p - %m (%F:%L) {%t} {%c}%n"/>
            <SizeBasedTriggeringPolicy size="5MB" />
            <DefaultRolloverStrategy fileIndex="min" min="1" max="20" />
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="Neptus" level="debug" additivity="false">
            <AppenderRef ref="stdout" level="info" />
            <AppenderRef ref="debugLog"  level="debug" />
        </Logger>
        <Logger name="Neptus.Waste" level="error" additivity="false">
            <AppenderRef ref="stdout" level="info" />
            <AppenderRef ref="debugLog"  level="debug" />
        </Logger>
        <!-- Example for extended debug. This is only an option if "Extended Program Output Log" property is set. -->
        <!--Logger name="Neptus.Pub.pt.lsts.neptus.util.conf.ConfigFetch.resolvePath" level="error" additivity="true">
            <AppenderRef ref="stdout" level="debug" />
        </Logger-->
        <!--Logger name="SPOT" level="debug" additivity="false">
            <AppenderRef ref="spotLog" level="debug" />
            <AppenderRef ref="debugLog"  level="debug" />
        </Logger-->
        <Root level="debug">
            <AppenderRef ref="stdout" level="info" />
            <AppenderRef ref="debugLog"  level="debug" />
        </Root>
    </Loggers>
</Configuration>